html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.total {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: end;
}
.alert-notif{
  position: fixed;
  right: 34px;
  width: 362px;
  top: 87px;
}
.tabela-pedidos > tr:nth-child(even) {
  background: #e8e8e8;
}
.tabela-pedidos td {
  padding: 16px 16px;
}
.table-lista-pedidos{
  border: 2px solid #000;
}

.MuiGrid-item .MuiTextField-root{
  width: 100%;
}
.hidden{
  display: none;
}
@media (min-width: 0px) and (orientation: landscape){
.MuiToolbar-root {
    min-height: 30px !important;
}
}
@media (min-width: 600px){

.css-aq1gdx-MuiDrawer-docked .MuiDrawer-paper {
    width: 0;
}}

.MuiTableCell-root{
  font-size: 25px !important;
}
.MuiInputLabel-root{
  color: #000;
}
.MuiInputBase-input.Mui-disabled{
  color: #000;
  -webkit-text-fill-color: inherit;
  font-size: 25px;
}
.MuiInputAdornment-root p{
  color: #000;
  -webkit-text-fill-color: inherit;
  font-size: 25px;
}
.css-1slnj5u-MuiPaper-root{
  padding-top: 0;
}
