html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.total {
  margin: 20px 0 0 0;
  display: flex;
  justify-content: end;
}
.alert-notif{
  position: fixed;
  right: 34px;
  width: 362px;
  top: 87px;
}
.tabela-pedidos > tr:nth-child(even) {
  background: #e8e8e8;
}
.tabela-pedidos td {
  padding: 16px 16px;
}
.table-lista-pedidos{
  border: 2px solid #000;
}

.MuiGrid-item .MuiTextField-root{
  width: 100%;
}
.hidden{
  display: none;
}